body {
  background-color: #CAEBFE;
  background-repeat: no-repeat, no-repeat;
  background-position: 134px 456px, right 144px top 773px;
  background-image: url(./assets/back1.png), url(./assets/back2.png);
}

.main {
  color: var(--dark-blue);
  margin-bottom: 24px;
}

.main h1 {
  font-family: 'Raleway Black';
  font-size: 32px;
  line-height: 36px;
  margin: 24px 0 10px;
}

.card {
  margin-bottom: 24px;
  padding: 12px 12px 16px;
  background: white;
  box-shadow: 0px 6.125px 9.1875px -1.8375px rgba(0, 0, 0, 0.1), 0px 2.45px 3.675px -1.225px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}

.card h3 {
  font-family: 'Raleway Black';
  border-radius: 8px;
  font-size: 24px;
  line-height: 28px;
  color: var(--dark-blue);
  margin: 16px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-image {
  border-radius: 8px;
  height: 257px;
}

.price {
  font-family: 'Raleway Bold';
  color: var(--dark-blue);
  margin-right: auto;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.sale {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
  text-decoration: line-through;
  position: relative;
}

.price:after {
  font-family: 'Raleway Bold';
  color: var(--red-main);
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 20px;
  line-height: 20px;
  white-space: nowrap;
}

.thai-price:after {
  content: '4.99 $';
}

.bangkok-price:after {
  content: '9.99 $';
}

.see-more {
  background: var(--red-main);
  color: white;
  margin-left: 8px;
}

.see-more svg {
  margin-left: 10px;
}

.buy {
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
  transition: all .25s;
}

.buy:hover,
.buy:active {
  background: var(--dark-blue);
  color: white;
}

.soon {
  background-color: #A9A9A9;
  color: white;
  box-shadow: none;
}

#thai-map-guide {
  background: no-repeat center/cover url(./assets/ThaiMapGuide.png);
  cursor: pointer;
}

#thai-map-guide + h3 {
  cursor: pointer;
}

#bangkok-guide {
  background: no-repeat center/cover url(./assets/BangkokGuide.png);
  cursor: pointer;
}

#bangkok-guide + h3 {
  cursor: pointer;
}

#north-guide {
  background: no-repeat center/cover url(./assets/NorthThai.png);
}

.buy-now {
  display: none;
}

@media (min-width: 345px) {
  body {
    background-position: 154px 456px, right 164px top 773px;
  }
}

@media (min-width: 400px) {
  body {
    background-position: 200px 456px, right 215px top 773px;
  }

  .buy-now {
    display: unset;
  }
}

@media (min-width: 500px) {
  body {
    padding: 0 21px;
    background-image: url(./assets/back2.png), url(./assets/back1.png);
    background-position: 243px 692px, right 360px top 409px;
  }

  .main h1 {
    margin-top: 30px;
  }

  .card {
    margin-bottom: 30px;
  }

  .card-image {
    height: 275px;
  }
}

@media (min-width: 560px) {
  body {
    padding: 0 30px;
    background-image: url(./assets/back2.png), url(./assets/back1.png);
    background-position: 323px 692px, right 420px top 409px;
  }

  .card-image {
    height: 320px;
  }
}

@media (min-width: 650px) {
  body {
    padding: 0 20px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-image: url(./assets/back2.png);
  }

  .buy-now {
    display: none;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-right: -26px;
  }

  .card {
    min-width: 289px;
    max-width: 350px;
    width: calc(50% - 26px);
    margin-right: 26px;
  }

  .card-image {
    height: 257px;
  }
}

@media (min-width: 768px) {
  body {
    padding: 0 47px;
  }

  .main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 37px 0 38px;
  }

  .main h1 {
    font-size: 70px;
    line-height: 79px;
    margin-right: 29px;
    flex-shrink: 0;
    margin: 0 29px 0 0;
  }

  .main p {
    max-width: 350px;
  }

  .cards {
    margin-right: -30px;
  }

  .card {
    margin-right: 30px;
    min-width: 320px;
    max-width: 449px;
    width: calc(50% - 30px);
  }
}

@media (min-width: 840px) {
  .buy-now {
    display: unset;
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url(./assets/back2.png), url(./assets/back1.png);
    background-position: -208px bottom, right -207px top 137px;
    display: flex;
    flex-direction: column;
  }

  .buy-now {
    display: none;
  }

  .card {
    min-width: 285px;
    max-width: 428px;
    margin-bottom: 60px;
    width: calc(33.33% - 30px)
  }
}

@media (min-width: 1170px) {
  .buy-now {
    display: unset;
  }
}

@media (min-width: 1440px) {
  body {
    padding: 0 165px;
    background-position: left bottom, right top 137px;
  }

  .card {
    min-width: 345px;
    max-width: 500px;
    width: calc(33.33% - 30px)
  }
}