body {
  background-color: #E3F5FF;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  color: var(--dark-blue);
  margin-top: -5vh;
}

main h2 {
  font-family: 'Raleway Black';
  margin: 0 auto 8px;
  font-size: 32px;
  line-height: 36px;
}

main p {
  text-align: center;
  max-width: 441px;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px 0;
  height: calc(50% - 61px);
}

.download-btn {
  border: 2px solid var(--red-main);
  color: var(--red-main);
  transition: all .25s;
  color: white;
  background: var(--red-main);
}

.back-btn {
  border: 2px solid var(--dark-blue);
  color: var(--dark-blue);
  transition: all .25s;
}

.download-btn:hover,
.download-btn:active {
  background: transparent;
  color: var(--red-main);
}

.back-btn:hover,
.back-btn:active {
  background: var(--dark-blue);
  color: white;
}

@media (min-width: 470px) {
  main {
    justify-content: center;
  }

  .buttons {
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
    height: auto;
  }

  .download-btn {
    margin-right: 24px;
  }
}

@media (min-width: 768px) {
  .buttons {
    margin-top: 44px;
  }
}